<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Employee_Servlet_App</display-name>
  <welcome-file-list>
    <welcome-file>Employee.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
  <servlet>
   <servlet-name>InsertEmployeeServlet</servlet-name>
  <servlet-class>com.controller.InsertEmployeeServlet</servlet-class> 
  </servlet>
  
  <servlet-mapping>
  
  <servlet-name>InsertEmployeeServlet</servlet-name>
  <url-pattern>/InsertEmployeeServlet</url-pattern>
  
  </servlet-mapping>
  
  
   <servlet>
   <servlet-name>DeleteEmployeeServlet</servlet-name>
  <servlet-class>com.controller.DeleteEmployeeServlet</servlet-class> 
  </servlet>
  
  <servlet-mapping>
  
  <servlet-name>DeleteEmployeeServlet</servlet-name>
  <url-pattern>/DeleteEmployeeServlet</url-pattern>
  
  </servlet-mapping>
  
   <servlet>
   <servlet-name>UpdateEmployeeServlet</servlet-name>
  <servlet-class>com.controller.UpdateEmployeeServlet</servlet-class> 
  </servlet>
  
  <servlet-mapping>
  
  <servlet-name>UpdateEmployeeServlet</servlet-name>
  <url-pattern>/UpdateEmployeeServlet</url-pattern>
  
  </servlet-mapping>
  
   <servlet>
   <servlet-name>ReadEmployeeServlet</servlet-name>
  <servlet-class>com.controller.ReadEmployeeServlet</servlet-class> 
  </servlet>
  
  <servlet-mapping>
  
  <servlet-name>ReadEmployeeServlet</servlet-name>
  <url-pattern>/ReadEmployeeServlet</url-pattern>
  
  </servlet-mapping>
</web-app>